#header {
    width: 100%;
    height: 340px;
	background-image: url('../img/header.webp');
	background-size: 1280px auto;
	background-repeat: no-repeat;
	background-position: center top;
    box-shadow: 2px 2px 4px 1px #888888;
}

#ax-header-content {
    position: relative;
    width: 100%;
    max-width: 1280px;
    height: 340px;
    margin: auto;
}

#ax-header-logo > a > img {
    width: 260px;
}

#ax-header-info {
    position: absolute;
    display: inline-block;
    left: 50px;
    top: 90px;
}

#ax-links {
    position: absolute;
    left: 40px;
    top: 150px;
}

#ax-link {
    margin: 5px;
}

#ax-link-img {
    width: 50px;
    height: 50px;
}

#ax-header-review {position: absolute;
    left: 40px;
    top: 200px;
}

#ax-server-status {
    position: absolute;
    right: 60px;
    top: 30px;
    font-size: smaller;
    font-weight: 900;
}

.ax-status-box {
    text-align: right;
    width: 200px;
    margin: 5px;
}

.ax-status-box > img {
    width: 15px;
    vertical-align: text-bottom;
}

#ax-player-count {
    color: #02ff00;
    font-size: medium;
    text-shadow: 1px 1px 1px black;
}

#ax-content {
    margin: auto;
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
}

#ax-nav {
    position: absolute;
    padding: 5px 50px;
    width: auto;
    left: 0;
    right: 0;
    bottom: 0px;
}

#ax-nav-left {
    float: left;
}

#ax-nav-right {
    float: right;
}

.ax-nav-item {
    display: inline-block;
    text-align: center;
    width: 70px;
    padding: 5px;
    box-sizing: border-box;
}

.ax-nav-item:hover {
    border-radius: 5px;
    background-color: rgba(0,0,0,0.3);
}

.ax-nav-active {
    border-radius: 5px;
    background-color: rgba(0,0,0,0.3);
}

.ax-nav-label {
    color: white;
    font-size: 8px;
    font-weight: 900;
}

#ax-footer {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
